.contact__title {
  text-align: center;
  margin-bottom: 32px;
}

.contact__title h2 {
  font-size: 40px;
  color: #212331;
}

.contact__form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}

.form__head {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.form__head > div {
  width: 100%;
}

.contact__form .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.contact__form > div {
  width: 100%;
}

.contact__form input {
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

.form__select {
  width: 100%;
}

.MuiSelect-select {
  height: 50px;
  color: #495057 !important;

}

.form__text {
  width: 100%;
}

.form__text textarea {
  min-height: 175px;
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  resize: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

.contact__form button {
  position: relative;
  display: inline-block;
  font-size: 13px;
  padding: 16px 40px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 30px;
  overflow: hidden;
  background-color: #28aaa8;
  color: #fff;
  cursor: pointer;
  transition: all .5s ease;
}
.contact__form button:hover {
  background-color: #e2195b;
}

.MuiInputLabel-root {
  z-index: 1 !important;
  background: white;
  padding: 0 5px;
  
}

.MuiFormControl-root {
  position: relative;
}

.MuiInputLabel-root {
  position: absolute;
  top: -10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  color: #495057 !important; 

}
.MuiButtonBase-root{
  color: #495057 !important;
}