@import "tailwindcss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Gotham";
}

@font-face {
  font-family: "Gotham";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/Gotham-Light.otf") format("truetype");
}
