@import "tailwindcss";

.contanierr {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Gotham";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/Gotham-Light.otf") format("truetype");
}

/*  navbar  */
.bgColor {
  background-image: linear-gradient(45deg, #1b1136, #e0195b);
  color: #1b1136;
}
#main {
  background-image: url("../src/assets/png/main-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  color: #fff;
}

.practic__table {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 12px 20px;
  height: max-content;
}

/* .learning,
.business {
  display: none;
  
}
.machine .business:hover .learning,
.machine:hover .business {
  display: block;
} */



.scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #000000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  animation: slideDown 1s ease;
  animation-fill-mode: forwards;
  z-index: 99;
}

.active {
  background-color: #fccd00;
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
}

.second-main-section .main-div .sub-main-div img {
  transition: all 0.5s ease;
}

.second-main-section .main-div .sub-main-div:hover img {
  animation-name: circlewave;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes slideDown {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes circlewave {
  0% {
    box-shadow: 0px 0px 1px 8px rgb(255, 203, 5, 1);
  }
  50% {
    box-shadow: 0px 0px 1px 12px rgba(255, 203, 5, 0.5);
    background-color: #e83e8c;
  }
  100% {
    box-shadow: 0px 0px 1px 16px rgba(255, 203, 5, 0.1);
    background-color: #dc3545;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 123;
  color: #000000;
  animation-name: sidebar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 123;
  color: #000000;
  animation-name: closesidebar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes sidebar {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes closesidebar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(400px);
  }
}
